<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style>
            table {
                border-collapse: collapse;
                margin: 10px;
            }

            table, th, td {
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <form method="post">
            <input type="hidden" name="page" value="{{page}}">
            <input type="text" name="filter" placeholder="Фильтр">
            <input type="submit" value="Найти">
        </form>
        <table id="parts-table">
            <thead>
                <tr>
                    <td>Имя</td>
                    <td>Необходим</td>
                    <td>Количество</td>
                    <td>Редактироавать</td>
                    <td>Удалить</td>
                </tr>
            </thead>
            <tbody>
                {{#parts}}
                <tr>
                    <td data-type="string">{{name}}</td>
                    <td data-type="boolean">{{isNeedTranslated}}</td>
                    <td data-type="number">{{count}}</td>
                    <td>
                        <form action="/edit" method="get">
                            <input type="hidden" name="id" value="{{id}}">
                            <input type="submit" value="Редактироавать">
                        </form>
                    </td>
                    <td>
                        <form action="/delete" method="post">
                            <input type="hidden" name="id" value="{{id}}">
                            <input type="submit" value="Удалить">
                        </form>
                    </td>
                </tr>
                {{/parts}}
            </tbody>
        </table>

        <h3>Можно собрать {{computers}} компьютеров</h3>

        <h3>Сортировать:</h3>
        <form method="get">
            <input type="hidden" name="sort" value="name">
            <input type="submit" value="По имени">
        </form>
        <form method="get">
            <input type="hidden" name="sort" value="need">
            <input type="submit" value="По необходимости">
        </form>
        <form method="get">
            <input type="hidden" name="sort" value="count">
            <input type="submit" value="По количеству">
        </form>

        <a href="/add"><h3>Добавить</h3></a>
    </body>
</html>
