<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style>
            table {
                border-collapse: collapse;
                margin: 10px;
            }

            table, th, td {
                border: 1px solid black;
            }
        </style>
    </head>
    <body>

        <table>
            <thead>
                <tr>
                    <td>Имя</td>
                    <td>Необходимось</td>
                    <td>Количество</td>
                    <td>Редактироавать</td>
                    <td>Удалить</td>
                </tr>
            </thead>
            <tbody>
                {{#parts}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{isNeedTranslated}}</td>
                    <td>{{count}}</td>
                    <td>
                        <form action="/edit" method="get">
                            <input type="hidden" name="id" value="{{id}}">
                            <input type="submit" value="Редактироавать">
                        </form>
                    </td>
                    <td>
                        <form action="/delete" method="post">
                            <input type="hidden" name="id" value="{{id}}">
                            <input type="submit" value="Удалить">
                        </form>
                    </td>
                </tr>
                {{/parts}}
            </tbody>
        </table>

        <h3>Можно собрать {{computers}} компьютеров</h3>
        <a href="/add"><h3>Добавить</h3></a>
    </body>
</html>
